* {
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: myRoboto;
    src: url('/fonts/Roboto-Bold.ttf')  format('truetype');
    src: url('fonts/Roboto-Regular.ttf')  format('truetype');
  }

@font-face {
    font-family: Roboto-bold;
    src: url('fonts/Roboto-Bold.ttf')  format('truetype');
  }


#container {
    width: 100%;
    font-family: myRoboto, sans-serif;

}

#main {
    width: 100%;
    height: 960px;
    padding-bottom: 0;
    margin-bottom: 0;
    background-image: url(images/bkg_1.jpg);
    background-repeat: no-repeat;
    background-size:cover;
}
nav img {
    position: absolute;
    top: -5px;
    left: 30px;
}


nav {
    position: relative;
    top: 20px;
    height: 70px;
    width: 100%;
    background: rgba(0, 0, 0, 0.69);
}


nav ul {
    list-style-type: none;
    margin: 0px;
    padding-right: 65px;
    overflow: auto;
    float: right;
}

nav li {
    display: inline;
   line-height: 70px;
  
}
nav li a {
    padding: 15px;
    color: #FFFF;
    text-decoration: none;
   
}

#slogan {
    text-align: center;
    text-transform: uppercase;
    color: #FFFF;
    position: relative;
    top: 500px;
    font-family: Roboto-bold;
}
#slogan h1 {
    font-size: 51px;
}
#slogan h2 {
    font-size: 79px;
}

#button {
    margin-top: 40px;
    height: 85px;
}

#second {
    width: 100%;
    height: 711px;
    background-color: #383838;
    padding-top: 0;
    margin-top: 0;
}

#onestep {
    position: relative;
    text-align: center;
    text-transform: uppercase;
    top: 100px;
    color: #FFFF;
}

#onestep h1 {
    font-size: 25px;
    margin-bottom: 10px;
    font-family: Roboto-bold;
}
#onestep h2 {
    font-size: 45px;
    font-family: Roboto-bold;
}

#services {

    display: flex;
    justify-content: center;
    font-size: 25px;
    line-height: 29px;
    color: #FFFF;
    margin-top: 80px;
    font-family: Roboto-bold;
}

#services p {
    padding-top: 20px;
}

.services {
    padding-left: 70px;
    padding-right: 70px;
}

#third {
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
}

#description {
    text-align: left;
    width: 40%;
    padding: 70px;
    padding-top: 100px;
}

#description h1 {
    font-size: 25px;
    text-transform: uppercase;
    margin-bottom: 0px;
    font-family: Roboto-bold;
}
#description h2 {
    font-size: 36px;
    text-transform: uppercase;
    margin-top: 4px;
    font-family: Roboto-bold;
}
#description p {
    font-size: 20px;
    line-height: 22px;
    text-align: left;
}

#product_img {
    padding: 50px;

}

#product_line {
    width: 100%;
    height: 800px;
    background-color: #FF7630;
    text-align: center;
}

#product_line_text {
    position: relative;
    top: 50px;
    color: #FFFF;
}

#product_line_text h2 {
    font-size: 25px;
    text-transform: uppercase;
    
   
}

#product_line_text h3 {
    margin-top: 0px;
    font-size: 45px;
    line-height: 53px;
    text-transform: uppercase;
    font-family: Roboto-bold;
}

#product_line_items {
    margin: auto;
    height: 380px;
} 

#product_line_items ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

#product_line_items li{
    padding: 10px;
    width: 238.6px;
    
}

#product_line_items h4, p {
    text-align: center;
    font-size: 20px;
    padding: 5px;
}

#product_line_items h4 {
    margin-bottom: 0px;
    font-family: Roboto-bold;
    padding: 15px;
    padding-bottom: 0px;
}

#product_line_items p {
    padding-bottom: 10px;
}

.items_text {
    background-color: #FFFF;
}

#product_line_items img {
    /* object-fit: contain; */
    height: 160px;
}

.product_line_li {
    filter: drop-shadow(0px 8px 11px rgba(0, 0, 0, 0.25));
}

#contact {
    width: 100%;
    height: 800px;

}

#stayintouch {
    text-align: center;
    text-transform: uppercase;
    padding-top: 80px;
    font-family: Roboto-bold;
}
#contact h3 {
    color: #292929;
    font-size: 22px;
    margin-bottom: 5px;

}
#contact h4 {
    margin-top: 0px;
    color: #FF7630;
    font-size: 40px;  
}

#contactform {
    margin: auto;
    height: 400px;
    width: 500px;
    font-size: 12px;
}

#contact_name, #contact_email, #phone_and_lang {
    padding-top: 15px;
    padding-bottom: 15px;
}

.name {
    padding: 10px;
    width: 475px;
    height: 25px;

}
.email {
    position: relative;
    padding: 10px;
    width: 475px;
    height: 25px;
}

.phone {
    position: absolute;
}
.lang {
    position: relative;
    width: 220px;
    left: 280px;


}
#phone {
    width: 220px;
    padding: 10px;
    height: 20px;
}
#lang {
    padding: 10px;
    height: 43px;
  
}


select {
    width: 220px;
    padding: 5px;
}
.submit {
    position: relative;
    top: 45px;
}

#since {
    width: 100%;
    height: 254px;
    background-color: #292929;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#since h3 {
    font-size: 45px;
    color:#FF7630;
    padding-right: 20px;
    font-family: Roboto-bold;

}

#since img {
    height:120px;
    padding-left: 20px;
    /* padding: 40px; */
}

#footer {
    padding-top: 30px;
    width: 100%;
    height: 280px;
    clear: both;
}
#address1 h3, #address2 h3 {
    font-size: 15px;
    color: #FF7630;
    font-family: Roboto-bold;
}
#address1 p, #address2 p {
    text-transform: uppercase;
    font-size: 22px;
    line-height: 26px;
    padding: 0;
    padding-top: 10px;
}

#address1 p {
    text-align: left;
}

#address2 p {
    text-align: right;
}

#address1 {
    width: 25%;
    float: left;
    text-align: left;
    padding: 45px;
}
#address2 {
    width: 25%;
    float: right;
    text-align: right;
    padding: 45px;
}

.phonenumber {
    font-family: Roboto-bold;
}

#copyright {
    color: #292929;
    text-align: center;
    clear: both;
    padding-top: 35px;

}

#copyright p {
    font-size: 12px;
}

.separator {
    width: 300px;
    text-align: center;
    margin: auto;
    padding: 60px;
}

#contact_separator {
    padding-bottom: 30px;
}

